@page
@model VMart.Pages.Admin.invalidModel
@{
}



<div class="container">
    <div class="row">
        <h1> Invalid User Name or Password </h1>
        <br />
        <a class="btn btn-primary" href="/Admin/Create"> Login</a>

    </div>
</div>