@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <img src="https://v-mart.co.nz/pub/media/logo/stores/1/V-Mart_Brand_Header_GreenonWhite.jpg" style="width:900px">

            <p class="lead">
                Indian Supermarket, Ethnic Groceries, Spices, Fruit and Vegetables, Open 7 days, 10am-8pm. Ph: 03 389 9997, 227 Linwood ave, Linwood, Christchurch.
            </p>
         <p class="lead">   Asian Groceries, Fresh Fruits & Local Vegetables The Provedore Bush Inn Shopping Centre 20 Waimairi Road Upper Riccarton Christchurch 8041, Christchurch,...
       </>
             </div>

    </div>

</div>